[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/morpho-blue"]
	path = lib/morpho-blue
	url = https://github.com/morpho-org/morpho-blue
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
[submodule "lib/aave-v3-origin"]
	path = lib/aave-v3-origin
	url = https://github.com/aave-dao/aave-v3-origin
[submodule "lib/morpho-blue-irm"]
	path = lib/morpho-blue-irm
	url = https://github.com/morpho-org/morpho-blue-irm
